<%@page
	import="org.springframework.web.servlet.tags.form.SelectedValueComparator"%>
<html>
<head>
<meta name="layout" content="main_popup" />
<script>
$(document).ready(function() {
	window.close();
});

</script>
</head>
<body>
</body>
</html>