/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
* = require main
* = require mobile
*= require cytoscape/style
*= require jquery.jscrollpane
*= require jquery-ui.min
*= require bpopup
*= require bootstrap
*= require bootstrap-select
*= require jquery.tablesorter.theme.bootstrap
*= require jquery.resizableColumns
*= require font-awesome
*= require_self
*/

.list-blockquotes .list-blockquote {
	border-left: 5px solid #eee;
	margin: 5px 0 5px;
	padding: 5px 0px 5px 13px;
}

.li-blockquote {
	list-style-type: lower-alpha;
}

.list-blockquote dl {
	margin-bottom: 0px !important;
}

.li-blockquote > ol {
	margin-left: 20px;
}

ul {
    margin-left: 10px;
}

ol {
  counter-reset: list;
    margin-left: 10px;
}
ol > .li-blockquote {
  list-style: none;
}
ol > .li-blockquote:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
  margin-left: -3px;
  padding-right: 5px;
  font-weight: bold;
}

.panel-title {
	font-weight: bold;
}

.btn img {
	margin-top: -5px;
	vertical-align: middle;
}

#btn-cytoscape {
	padding: 9px 16px 8px 10px;
}

.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

th.rotate {
  /* Something you can count on */
  //height: 140px;
  height: 90px;
  white-space: nowrap;
}

th.rotate > div {
  transform: translate3d(0px, 1px, 0) rotate(-45deg);
  width: 20px;
  //transform-origin: left bottom; 
}
th.rotate > div > span {
  border-bottom: 0px solid #ccc;
  padding: 5px 10px;
  display: inline-block;
}

.tablesorter-bootstrap thead th {
	background-color: #fff;
}

.tablesorter-bootstrap thead tr th {
	border: 0px;
	outline: 0 none;
}

div.tooltip {
    width: 270px;
}

div.tooltip-inner {
    max-width: 280px;
}

.tooltip-inner {
    text-align:left;
}

tr.static {
	font-weight: bold;
}